body{
    background-image: url("img/pokemon-tcg-live-preview-1645242791988.jpg");
}
h1{
    text-align: center;
    color: red;
    font-size: 60px;
}
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  #search-bar {
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px 0 0 5px;
  }
  #search-button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #FFCB05;
    color: #333;
    cursor: pointer;
  }
  #results {
    margin-top: 20px;
    text-align: center;
  }
  
  .hehe{
    color: red;
    font-size: 30px;
  }

  .pokenavn{
    font-size: 60px;
    color: blue;
  }
  .bilde{
    width: 200px;
  }
  .container{
    opacity: 0.9;
    border-color: #333;
    border-radius: 2rem;
    margin-left: 37%;
    background-color: white;
    width: 400px;
    height: 600px;
  }